<footer class="padding-50 e-bg-light-texture">
   <div class="container-fluid nopadding">
      <div class="row wow fadeInDown" data-wow-delay=".2s" data-wow-offset="10" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
         <div class="col-md-4">
            <h4 class="font-accident-two-normal uppercase">aleko</h4>
            <p class="inline-block">
	      By Alexander Kleinhans, written in NodeJS and Bootstrap and scaled on Heroku dynamos!	
            </p>
            <p class="inline-block">
	      Web Development, Application Develpment, Cloud Development, UI / UX Design, Part-time or Fulltime.
            </p>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-4 cv-link">
            <h4 class="font-accident-two-normal uppercase">Download cv</h4>
            <div class="dividewhite1"></div>
	    <a href="AlexanderKleinhans_english.pdf" target="_blank">English</a>
	    <a href="AlexanderKleinhans_spanish.pdf" target="_blank">Spanish</a>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-4">
            <h4 class="font-accident-two-normal uppercase">Follow me at</h4>
            <div class="inline-block"><a href="https://twitter.com/alexanderkleinh" target="none"><i class="flaticon-twitter39"></i></a></div>
            <div class="inline-block"><a href="https://www.linkedin.com/in/alexander-kleinhans-7891614a" target="none"><i class="flaticon-linkedin22"></i></a></div>
            <div class="divider-dynamic"></div>
         </div>
      </div>
      <div class="dividewhite1"></div>
      <div class="row wow fadeInDown" data-wow-delay=".4s" data-wow-offset="10" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
         <div class="col-md-12 copyrights">
            <p>© 2016 Alexander Kleinhans.</p>
         </div>
      </div>
   </div>
</footer>
