<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name=viewport content="width=device-width, initial-scale=1">

   <title>Alexander Kleinhans</title>

   <meta name="description" content="Gridus vCard HTML Template is the professional responsive personal website template, based on the latest Bootstrap 3">
   <meta name="keywords" content="html5, template, website, responsive, bootstrap">
   <meta name="author" content="neuethemes">

   <!-- CSS -->
   <link href="assets/vendor/bootstrap/css/bootstrap.min.css"        property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <link href="assets/vendor/fontawesome/css/font-awesome.min.css"   property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <link href="assets/vendor/flaticons/flaticon.css"                 property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <link href="assets/vendor/hover/css/hover-min.css"                property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <link href="assets/vendor/wow/animate.css"                        property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <link href="assets/vendor/mfp/css/magnific-popup.css"             property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
   <!-- Remove this for disable demo panel styles -->
   <!--<link href="assets/vendor/styleselector/styleselector.css"        property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>-->
   <!-- Custom styles -->
   <link href="assets/custom/css/style.css"                          property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>

   <style>
      #preloader {
         position: fixed;
         left: 0;
         top: 0;
         z-index: 99999;
         width: 100%;
         height: 100%;
         overflow: visible;
         background: #666666 url("assets/custom/images/preloader.gif") no-repeat center center; }
   </style>

</head>

<body class="boxed">


<!--Pre-Loader-->
<div id="preloader"></div>

<header>

   <section id="top-navigation" class="container-fluid nopadding">

      <div class="row nopadding ident e-bg-light-texture">

         <!-- Photo -->
         <a href="#!">
            <div class="col-md-5 col-lg-4 vc-photo">&nbsp;</div>
         </a>
         <!-- /Photo -->

         <div class="col-md-7 col-lg-8 vc-name nopadding">
            <!-- Name-Position -->
            <div class="row nopadding name">
               <div class="col-md-10 name-title"><h2 class="font-accident-two-light uppercase">Alexander Kleinhans</h2></div>
               <div class="col-md-2 nopadding name-pdf">
		<a href="AlexanderKleinhans_english.pdf" target="_blank"><i class="flaticon-download149" title="Download CV.pdf"></i></a>
               </div>
            </div>
            <div class="row nopadding position">
	      <div class="col-sm-2 col-xs-4 position-title">
		 <div class="titleOne typed"></div>
		 <div class="typedWebStuff typed"></div>
	      </div>
	      <div class="col-sm-2 col-xs-4 position-title">
		 <div class="titleTwo typed"></div>
		 <div class="typedMoreWebStuff typed"></div>
	      </div>
	      <div class="col-sm-2 col-xs-4 position-title">
		 <div class="titleThree typed"></div>
		 <div class="typedCodeStuff typed"></div>
	      </div>
	      <div class="col-sm-2 col-xs-4 position-title">
		 <div class="titleFour typed"></div>
		 <div class="typedMoreCodeStuff typed"></div>
	      </div>
	      <div class="col-sm-2 col-xs-4 position-title">
		 <div class="titleFive typed"></div>
		 <div class="typedUtilitiesStuff typed"></div>
	      </div>
	      <div class="col-sm-2 col-xs-4 position-title">
		 <div class="titleSix typed"></div>
		 <div class="typedPlatformStuff typed"></div>
	      </div>
            </div>
            <!-- /Name-Position -->

	    <% include ../partials/navbar.ejs %>

         </div>
      </div>
   </section>

</header>

<!-- Container -->
<div class="content-wrap">

   <div id="contacts" class="inner-content">

      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">Contacts</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Get in touch</h5>
            <p class="small fontcolor-medium">
	      You can get in touch with me through email, phone, Linked, etc. I'm usually available anytime within reasonable hours to chat, talke about project requiremnts, options, consulting and more! I'm always open talk about potential free-lance projects and part-time work. Althogh based in Denver, CO, I'm always open to working remotly. 
            </p>
         </div>
      </section>

      <section id="contacts-data" class="inner-block">
         <div class="container-fluid nopadding">
            <div class="row">
               <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                  <div class="row">
                     <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Location:</span></div>
                     <div class="col-sm-10"><p class="small">Denver, CO</p></div>
                  </div>
                  <div class="row">
                     <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Phone:</span></div>
                     <div class="col-sm-10"><p class="small">720 235 2511</p></div>
                  </div>
                  <div class="row">
                     <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Email:</span></div>
                     <div class="col-sm-10"><p class="small">hireme@aelko.com</p></div>
                  </div>
               </div>
               <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                  <div class="row">
                     <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Github:</span></div>
                     <div class="col-sm-10"><p class="small"><a href="https://github.com/zndrk94" target="_blank">https://github.com/zndrk94</a></p></div>
                  </div>
                  <div class="row">
                     <div class="col-sm-2"><span class="font-accident-two-bold uppercase">LinkedIn:</span></div>
                     <div class="col-sm-10"><p class="small"><a href="https://www.linkedin.com/in/alexander-kleinhans-7891614a" target="_black">https://www.linkedin.com/in/alexander-kleinhans-7891614a</a></p></div>
                  </div>
                  <div class="row">
                     <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Twitter:</span></div>
                     <div class="col-sm-10"><p class="small"><a href="https://twitter.com/alexanderkleinh" target="_blank">https://twitter.com/alexanderkleinh</a></p></div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <!-- Google Map Block -->
      <section id="contacts-map" class="inner-section">

         <div class="container-fluid nopadding">

            <!-- Google Map -->
            <div class="wow fadeInDown" data-wow-delay="0.8s" data-wow-offset="10">
               <div id="gm-panel">
                  <div id="google-map" class="bigmap"></div>
               </div>
            </div>
            <!-- /Google Map -->

         </div>

         <div class="dividewhite8"></div>

      </section>
      <!-- /Google Map Block -->

   </div>

</div>

<% include ../partials/footer.ejs %>

<div id="image-cache" class="hidden"></div>

<!-- JS -->
<script src="assets/vendor/jquery/js/jquery-2.2.0.min.js"            type="text/javascript"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"            type="text/javascript"></script>
<script src="assets/vendor/imagesloaded/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="assets/vendor/isotope/js/isotope.pkgd.min.js"           type="text/javascript"></script>
<script src="assets/vendor/mfp/js/jquery.magnific-popup.min.js"      type="text/javascript"></script>
<script src="assets/vendor/circle-progress/circle-progress.js"       type="text/javascript"></script>
<script src="assets/vendor/waypoints/waypoints.min.js"               type="text/javascript"></script>
<script src="assets/vendor/anicounter/jquery.counterup.min.js"       type="text/javascript"></script>
<script src="assets/vendor/wow/wow.min.js"                           type="text/javascript"></script>
<script src="assets/vendor/pjax/jquery.pjax.js"                      type="text/javascript"></script>
<script src="https://maps.google.com/maps/api/js"                    type="text/javascript"></script>
<!-- Remove this for disable demo panel script -->
<!--<script src="assets/vendor/styleselector/styleselector.js"           type="text/javascript"></script>-->
<!-- Custom scripts -->
<script src="assets/custom/js/custom.js"                             type="text/javascript"></script>
<script src="assets/custom/js/typed.js" type="text/javascript"></script>
<script src="assets/aelko/js/custom.js" type="text/javascript"></script>
<link href="assets/aelko/css/custom.css"             property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>

</body>
</html>
